 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="id_topic" class="text-light">id_topic</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="id_topic" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="mac_address" class="text-light">mac_address</label>
            <input type="text" name="mac_address" value="" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="fabrication_number" class="text-light">fabrication_number</label>
            <input type="text" name="fabrication_number" value="" placeholder="example@gmail.com">
        </div>


        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>


        
        <div class="form-group">
            <label for="cart_available" class="text-light">cart_available</label>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="cart_available" value="Active" >
                <label for="radio-6" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="cart_available" value="Inactive" >
                <label for="radio-7" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>